/*
  Flaticon SVG version
  Créé le 15/09/2025
*/

[class^="flaticon-"],
[class*=" flaticon-"] {
  display: inline-block;
  width: 32px;
  /* taille icône */
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

