<app-header></app-header>

<!-- <section class="page-info new-block">
  <div class="fixed-bg" style="background: url('assets/public/images/info-bg.jpg');"></div>
  <div class="overlay"></div>
  <div class="container">
      <h2>Domnoo menu</h2>
      <div class="clear-fix"></div>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Library</a></li>
      </ol>
  </div>
</section> -->
<!-- banner -->
<section class="domnoo-menu-filter2 list-grid-sec new-block">
  <div class="fixed-bg parallax" style="background-image: url(images/ptrn1.jpg);"></div>
  <div class="overlay"></div>
  <div class="col1">
     <div class="filters">

      <ul class="button-group tab-flr-btn">
        <li *ngFor="let menu of menus"
            class="btn-flr"
            [class.tab-flr-btn-btn-flr-active]="selectedMenuId === menu.idMenu"
            (click)="selectMenu(menu)">
          <div class="cat-block">
            <div class="block-stl1 bg1">

              <span class="{{ menu.description }}"></span>
              <h4>{{ menu.libeMenu }}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col2">
   <div class="grid" id="grid">
  <!-- Message de chargement -->
  <div *ngIf="loading" class="loading">
    <p>Chargement des produits...</p>
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Liste des produits -->
    <div *ngFor="let produit of produits" class="items-for-flr">
        <div class="block-stl2">
           <div class="img-holder">
          <img [src]="produit.idImg
                      ? 'assets/public/images/' + produit.imageName
                      : 'assets/public/images/default.png'"
               [alt]="produit.libePrd"
               class="img-responsive">
        </div>

          <div class="text-block">
            <h3>{{ produit.libePrd }}</h3>
            <p>{{ produit.description }}</p>
            <p class="price">
              <span>${{ formatPrice(produit.prixEmp) }}</span>
              <del *ngIf="produit.prixProm">${{ formatPrice(produit.prixProm) }}</del>
            </p>
          </div>
        </div>
      </div>

  <!-- Message si aucun produit -->
  <div *ngIf="!loading && produits.length === 0" class="no-products">
    <p>Aucun produit disponible pour le moment.</p>
  </div>
</div>
  </div>


  <div class="clearfix"></div>
  <div class="container text-center">
    <div class="pegination-block">
      <ul class="pagination">
        <li><a href="#"><i class="flaticon-left-arrow"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="flaticon-right-arrow"></i></a></li>
      </ul>
    </div>
  </div>

</section>

<section class="limited-deal stl2 new-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title">
          <p class="top-h">limited deal</p>
          <h2>special offer of the day</h2>
          <div class="btm-style"><span><img src="assets/public/images/btm-style.png" alt=""
                class="img-responsive"></span></div>
          <p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit.
            <br>Curabitur erat turpis posuere ac ante at
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="text-block-stl1">
          <div class="title">
            <p class="top-h">combo pack offer</p>
            <h2>want something real & juicy ?</h2>
            <p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus
              sit amet ullamcorper.</p>
          </div>
          <ul class="nav nav-pills">
            <li class="active">
              <a data-toggle="pill" href="#cpo1">
                <div class="img-holder">
                  <img src="assets/public/images/p-img14.png" alt="" class="img-responsive">
                </div>
                <span>$6.00</span>
              </a>
            </li>
            <li>
              <a data-toggle="pill" href="#cpo2">
                <div class="img-holder">
                  <img src="assets/public/images/p-img15.png" alt="" class="img-responsive">
                </div>
                <span>$6.00</span>
              </a>
            </li>
            <li>
              <a data-toggle="pill" href="#cpo3">
                <div class="img-holder">
                  <img src="assets/public/images/p-img16.png" alt="" class="img-responsive">
                </div>
                <span>$6.00</span>
              </a>
            </li>
            <li>
              <a data-toggle="pill" href="#cpo4">
                <div class="img-holder">
                  <img src="assets/public/images/p-img17.png" alt="" class="img-responsive">
                </div>
                <span>$6.00</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="tab-content">
          <div id="cpo1" class="tab-pane fade in active">
            <div class="block-stl5">
              <div class="img-holder">
                <div class="fixed-bg" style="background: url('assets/public/images/bg7.jpg');"></div>
                <div class="overlay"></div>
                <img src="assets/public/images/p-img12.png" alt="" class="img-responsive">
                <div class="lbl"><img src="assets/public/images/p-img13.png" alt="" class="img-responsive"></div>
              </div>
              <div class="text-block">
                <h3>Veggie Supreme</h3>
                <p class="sz">Size : Regular</p>
                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
              </div>
            </div>
          </div>
          <div id="cpo2" class="tab-pane fade">
            <div class="block-stl5">
              <div class="img-holder">
                <div class="fixed-bg" style="background: url('assets/public/images/bg7.jpg');"></div>
                <div class="overlay"></div>
                <img src="assets/public/images/p-img18.png" alt="" class="img-responsive">
                <div class="lbl"><img src="assets/public/images/p-img13.png" alt="" class="img-responsive"></div>
              </div>
              <div class="text-block">
                <h3>Veggie Supreme</h3>
                <p class="sz">Size : Regular</p>
                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
              </div>
            </div>
          </div>
          <div id="cpo3" class="tab-pane fade">
            <div class="block-stl5">
              <div class="img-holder">
                <div class="fixed-bg" style="background: url('assets/public/images/bg7.jpg');"></div>
                <div class="overlay"></div>
                <img src="assets/public/images/p-img19.png" alt="" class="img-responsive">
                <div class="lbl"><img src="assets/public/images/p-img13.png" alt="" class="img-responsive"></div>
              </div>
              <div class="text-block">
                <h3>Veggie Supreme</h3>
                <p class="sz">Size : Regular</p>
                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
              </div>
            </div>
          </div>
          <div id="cpo4" class="tab-pane fade">
            <div class="block-stl5">
              <div class="img-holder">
                <div class="fixed-bg" style="background: url('assets/public/images/bg7.jpg');"></div>
                <div class="overlay"></div>
                <img src="assets/public/images/p-img20.png" alt="" class="img-responsive">
                <div class="lbl"><img src="assets/public/images/p-img13.png" alt="" class="img-responsive"></div>
              </div>
              <div class="text-block">
                <h3>Veggie Supreme</h3>
                <p class="sz">Size : Regular</p>
                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
