<header class="new-block main-header">
  <div class="main-nav new-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo-pizza.png" alt="logo" class="img-responsive"></a>
          </div>
          <div class="location-block">
            <p>France</p>
            <span>+00 33 22 456 789</span>
          </div>
          <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>

          <nav class="nav">
            <ul class="list-unstyled">
              <li class="nav-item active"><a class="nav-link" (click)="menuCarte()"  >Carte</a></li>

              <li class="drop"><a href="#">Magazins</a>

              </li>
              <li class="drop"><a href="#">Promos</a>

              </li>
              <li><a href="#">Fidélites</a></li>
              <li><a href="#">Engagements</a></li>
              <li><a href="about_us.html">Emplois</a></li>
           <li > <a href="#">
                <i class="fas fa-user"></i> Login/Signup
              </a></li>
            </ul>
          </nav>
          <div class="nav-right-block">
            <ul class="list-unstyled">
              <li><a href="#"><i class="flaticon-scooter-front-view" style="color: #f1b601" ></i><span class="nav-price" style="color: #f1b601; font-weight: bold;">$00.00</span></a></li>
            </ul>
          </div><!-- nav-login -->
        </div>
      </div>
    </div>
  </div>
  </header> <!-- header -->
