<footer class="main-footer new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="footer-head">
							<h3>About Us :</h3>
						</div>
						<div class="footer-content">
							<p>Donec tincidunt, augue a convallis cursus, sapien eros efficitur sem in placerat sapien est nec quam.</p>
							<a href="#" class="link">Read More</a>
							<ul class="list-unstyled card-block">
								<li><a href="#"><img src="assets/public/images/crt1.png" alt=""></a></li>
								<li><a href="#"><img src="assets/public/images/crt2.png" alt=""></a></li>
								<li><a href="#"><img src="assets/public/images/crt3.png" alt=""></a></li>
								<li><a href="#"><img src="assets/public/images/crt4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<div class="our-company">
							<div class="footer-head">
								<h3>Our Company :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#">New In</a></li>
									<li><a href="#">Pizza murgon</a></li>
									<li><a href="#">Burger king</a></li>
									<li><a href="#">Fried Chicken</a></li>
									<li><a href="#">Mocktail</a></li>
									<li><a href="#">Top Brands</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<div class="footer-head">
							<h3>Customer Care :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="flickr">
							<div class="footer-head">
								<h3>Get Flickr :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#"><img src="assets/public/images/Layer-12.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-13.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-14.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-15.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-16.png" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-17.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-18.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="assets/public/images/Layer-19.jpg" alt="" class="img-responsive"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
