<header class="new-block main-header">
			<div class="main-nav new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="logo">
								<a href="index.html"><img src="assets/public/images/logo-pizza.png" alt="logo" class="img-responsive"></a>
							</div>
							<div class="location-block">
								<p>France</p>
								<span>+00 33 22 456 789</span>
							</div>
							<a  class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav">
								<ul class="list-unstyled">
									<!-- <li class="drop active"><a [routerLink]="'/home'">Home</a>
									 	<ul class="drop-down">
											<li><a href="index.html">Home1</a></li>
											<li><a href="home2.html">Home2</a></li>
										</ul>
									</li> -->
									<li class="drop"><a [routerLink]="'/menu'">Menu</a>
										<!-- <ul class="drop-down">
											<li><a href="menu.html">Menu</a></li>
											<li><a href="menu2.html">Menu2</a></li>
										</ul> -->
									</li>
									<li class="drop"><a [routerLink]="'/magasins'">Magasins</a>
										<!-- <ul class="drop-down">
											<li><a href="menu.html">Menu</a></li>
											<li><a href="menu2.html">Menu2</a></li>
											<li><a href="about_us.html">About</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog_left.html">Blog left</a></li>
											<li><a href="blog_right.html">Blog right</a></li>
											<li><a href="blog_single.html">Single blog</a></li>
											<li><a href="contact.html">Contact us</a></li>
											<li><a href="product_single.html">Product single</a></li>
											<li><a href="shopping_cart.html">Cart page</a></li>
										</ul> -->
									</li>
									<li><a [routerLink]="'/promos'">Promos</a></li>
									<li><a [routerLink]="'/fidelites'">Fidelites</a></li>
									<li><a  [routerLink]="'/engagements'">Engagements</a></li>
									<!-- <li class="drop"><a href="#">Blog</a>
										<ul class="drop-down">
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog_left.html">Blog left</a></li>
											<li><a href="blog_right.html">Blog right</a></li>
											<li><a href="blog_single.html">Single blog</a></li>
										</ul>
									</li>
									<li><a href="#">Location</a></li>
									<li><a href="contact.html">Contact Us</a></li> -->
									<li><a [routerLink]="'/'">Login/Signup</a></li>
								</ul>
							</nav>
							<div class="nav-right-block">
								<ul class="list-unstyled">
									<li><a href="#"><i class="flaticon-scooter-front-view"></i><span class="nav-price">$00.00</span></a></li>
								</ul>
							</div><!-- nav-login -->
						</div>
					</div>
				</div>
			</div>
		</header> <!-- header -->
